# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
ENV/
.env

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
draft/*
data/raw/*
data/audio/oga/*
data/audio/wav/*
data/final/*
data/qual_edits/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
outputs/figures/*
outputs/tables/*
!outputs/figures/.gitkeep
src/drafts/*


# Jupyter Notebook
.ipynb_checkpoints
*.ipynb
